/* PHASE 3: Layout */

.content {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  background: #fff;
  width: 900px;
  border: 1px solid #ccc;
  border-top: 0;
}

.content-header {
  background-color: magenta;
  height: 100px;
  width: 900px;
  background-image: url("../images/cats.jpg");
  /*
  Had a typo in my name...
  height: 100px; 
  */
} 

.content-header > h1 {
  line-height: 1;
  font-size: 10px;
  text-shadow: #FC0 1px 0 10px;
}

.content-sidebar {
  width: 200px;
  min-height: 200px;
  padding: 20px;
  padding-right: 19px;
  border-right: 1px solid #ccc;
}

.content-main {
  width: 620px;
  min-height: 200px;
  padding: 20px;
}
