<ul id="gear-dropdown" class="gear-dropdown">
	<li>
		<ul class="editions fas fa-spin">
			<Button class="dropdown-content" id="dd">Edition</Button>
			<li><a href="#">CSS</a></li>
			<li><a href="#">HTML</a></li>
			<li><a href="#">Javascript</a></li>
			<li><a href="#">Ruby</a></li>
		</ul>
	</li>
	<li>
		<Button class="dropdown-content" id="dd">Help</Button>
		<ul id="dd" class="help">
			<li><a id="dd" href="#">FAQ</a></li>
			<li><a id="dd" href="#">Contact Us</a></li>
		</ul>
	</li>
</ul>


<!---
 <Button class="dropdown-content">Edition</Button>
 <Button class="dropdown-content">Help</Button>

 <span class="dropdown-subtitle">Edition</span>
 <span class="dropdown-subtitle">Help</span>
 --->