<header class="main-nav "> <!--- append to class name: fas fa-spin -->
	<nav class="left-nav ">
		<ul>
			<li id="sections-sidebar-btn">
				<i class="fa fa-bars"></i>
				<span>sections</span>
			</li>
			<li id="search-modal-btn">
				<i class="fa fa-search"></i>
				<span>search</span>
			</li>
		</ul>
	</nav>
	<nav class = 'right-nav fa-spi'>
		<ul>
			<li id = "subscribe">
				<button type = "button">Subscribe Now  </button>
			</li>
			<li id="Log In">
				<button type = "button">Log in</button>
			</li>
			<li id = "gear-dropdown">
				<%= render 'shared/gear_dropdown' %>
				<i id= "icon" class="fas fa-cog "></i>
				<!---<%#= render partial: 'shared/gear_dropdown' %> --->
			</li>
		</ul>

	</nav>
</header>

 