<HTML>
<header class="masthead">
<ul class="language-nav" >
  <a id="bold_first">CSS</a>
  <a>HTML</a>
  <a>Javascript</a>
  <a>Ruby</a>
</ul>
 
<img class="logo" src="assets/AA_Times_Logo.png">


 <ul class="masthead-links">
   <li>Tuesday, October 18, 2016</li>
   <li><i class="far fa-newspaper"></i>Today’s Paper</li>
   <li><i class="fas fa-video"></i>Video</li>
   <li>77°F</li>
   <li>AAO <strong>+100% </strong> </li>
 </ul>
 







</header>
</HTML>