<header class="section_navs fa-spin">
<div  >

<ul class="section_navs_2section fa-spin" >
  <a class="fas fa-spin">World</a>
  <a class="fas fa-spin">San Francisco</a>
  <a class="fas fa-spin">New York</a>
  <a class="fas fa-spin">Bootcamp Prep</a>
  <a class="fas fa-spin">Jumpstart</a>
  <a class="fas fa-spin">Online</a>
  <a class="fas fa-spin">Marketing</a>
  <a class="fas fa-spin">Sales</a>
  <a class="fas fa-spin">TalentMatch</a>
  <a class="fas fa-spin">Alumni</a>
  <a class="fas fa-spin">All</a>
</ul>
</div>
</header>

