<header class="section_navs">
<div  >

<ul class="section_navs_2section" >
  <a >World</a>
  <a >San Francisco</a>
  <a >New York</a>
  <a >Bootcamp Prep</a>
  <a >Jumpstart</a>
  <a >Online</a>
  <a >Marketing</a>
  <a >Sales</a>
  <a >TalentMatch</a>
  <a >Alumni</a>
  <a >All</a>
</ul>
</div>
</header>

