/* PHASE 1: Reset */

html, body, header, nav, h1, a,
ul, li, strong, main, button, i,
section, img, div, h2, p, form,
fieldset, label, input, textarea,
span, article, footer, time, small {
  // margin:
  // padding:
  // border:
  // outline:
  // font:
  color: black;
  text-align: left;
  // text-decoration:
  // vertical-align:
  box-sizing: inherit;
  background: white;
}

ol, ul {
  list-style: none; //maybe?
}

img {
  display: block;
  width: 100%;
  height: auto;
}

button {cursor: pointer;} 

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button {
  /*
  Get rid of native styling. Read more here:
  http://css-tricks.com/almanac/properties/a/appearance/
  */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

button,
input[type="submit"] {
  // cursor:
}

/* Clearfix */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.group:after {
  // ...
}
